@charset "UTF-8";

/* 외부 폰트 */
@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6{font-family:'CookieRun-Regular';}

*{font-family: '맑은고딕';}

.heder_logo{
	font-family: 'CookieRun-Regular';
	font-size : 2rem;
}
.heder_menu{
	margin-left: 20px;
	color: gray;
}

.carousel-item img{width: 100%;}

.item .price{
	font-family: 'CookieRun-Regular';
	font-size: 1rem;
}

.pimg:hover {
	transform : scale(1.1);
}

#total{
	font-family: 'CookieRun-Regular';
	font-size: 1.5rem;
}