@charset "UTF-8";

/* 외부 폰트 */
@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6{font-family:'CookieRun-Regular';}

*{font-family: '맑은고딕';}

.heder_logo{
	font-family: 'CookieRun-Regular';
	font-size : 2rem;
}
.heder_menu{
	margin-left: 20px;
	color: gray;
}

.carousel-item img{width: 100%;}

.item .price{
	font-family: 'CookieRun-Regular';
	font-size: 1rem;
}

.pimg:hover {
	transform : scale(1.1);
}

#total {
	font-family: 'CookieRun-Regular';
}

.pview{
	font-family: 'CookieRun-Regular';
	font-size: 1rem;
}

.carttotal{
	font-family: 'CookieRun-Regular';
	font-size: 1.5rem;
}

.totalbox{
	border: 3px solid #eeeeee;
	margin: 40px; padding: 40px;
}

.payment {
	font-family: 'CookieRun-Regular';
	font-size: 1.2rem;
}

/* 채팅창 */
#msgbox{
	height: 500px; /* 높이 */
	background: #b2c7d9; /* 배경색 */
	margin-bottom: 10px; /* 바깥 여백 */
	border: 1px solid #eeeeee; /* 테두리 */
	border-radius:  30px; /* 모서리 곡선 */
	overflow: outo; /* 박스 크기보다 내용물이 넘쳤을때 스크롤 */
	/* js and edge : 스크롤 숨기기 */
	-ms-overflow-style: none;
}

/* 스크롤 표시 숨기기 : 브라우저마다 다름 */
#msgbox::-wabkit-scrollbar{ /* 크롬, 사파리 */
	display: none;
}

/* 보내는 메시지 */
.from{
	font-family: 'CookieRun-Regular';
	font-size: 1.0rem;
	background: #ffeb33;
	border-radius:  10px;
	padding: 10px;
}

/* 메시지 시간 */
.msgtime{
	font-size: 0.8rem;
}

/* 받는 메시지 */
.to{
	font-family: 'GongGothicBold';
	font-size: 1.0rem;
	background: white;
	border-radius: 10px;
	padding: 10px;
}

/* 현재 접속 된 회원 */
#mlist{
	height: 350px; /* 높이 */
	background: white; /* 배경색 */
	margin-bottom: 10px; /* 바깥 여백 */
	border: 1px solid #eeeeee; /* 테두리 */
	border-radius:  30px; /* 모서리 곡선 */
	overflow: outo; /* 박스 크기보다 내용물이 넘쳤을때 스크롤 */
}

.profile{
	font-family: 'GongGothicBold';
	font-size: 0.8rem;
}

/* 방 입장 */
.roomstart{
	font-family: 'GongGothicBold';
	font-size: 0.8rem;
	background-color: #eeeeee;
}