@charset "UTF-8";

/* 웹 폰트 가져오기 */
@font-face {
    font-family: 'OTWelcomeBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeBA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{font-family: OTWelcomeBA}

header{border-bottom: solid 1px #eeeeee; line-height: 1;}
.header-logo{font-size: 2.25rem;}
.header-topmenu{font-size: 0.25rem;}
.carousel-item img{width: 100%;}
.item{font-size: 0.75rem; line-height: 150%;}
.price{text-decoration: line-through;}
.main-footer{font-size: 0.75rem; border-top: solid 1px #eeeeee; padding: 3rem;}
.main-footer h3{font-size: 1.2rem; font-weight: bold;}
.carousel-item img{ width: 100%;}












